{% extends 'base.html' %}

{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static "CSS/stylelogin.css"  %}" />
    {% endblock %}

{% block content %}

<br>

<h1 style = "text-align : center";>Connexion</h1>
<br>



<form action="" method=POST>
    {% csrf_token %}

<div class="mb-3 w-25" style="margin:0 auto;">
<label for="exampleInputEmail1" class="form-label" style="color:white;font-size:1.2rem">Identifiant</label>
<input type="text" class="form-control" name="identifiant" aria-describedby="emailHelp"style="font-size:1.2rem;">

</div>
<div class="mb-3 w-25" style="margin:0 auto;">
<label for="exampleInputPassword1" class="form-label" style="color:white;font-size:1.2rem">Mot de passe</label>
<input type="password" class="form-control" name="password"style="font-size:1.2rem;">


</div>

 <div style='text-align:center'>

    <input style=""  type="submit" value="Se connecter" class="button-l mt-3" > 
</div>   
</form>





{% endblock %}