/* CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  font-family:   'Open Sans', sans-serif;
  
}

#title{
  text-decoration: none;
  color:inherit;
}
#title:hover{
  color:black;
  transition: 1s;
}

body{
  background-color: #1e2326 !important;
  /* background-color: rgba(1,1,1,0.7); */
  font-size: 16px !important;
  
}
h1{
  color: white;
}

.titre  {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff ! important;
  text-align: center;
  margin: auto;
  text-decoration: none !important;

  }


  
.button-40 {
  background-color: #133e99;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF !important ;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  position:absolute;
  top:10px;
  right: 170px;
}

.button-40:hover {
  background-color: #940920;
  transition: 1s;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

  /* fauxb */
  
.button-30 {
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  position:absolute;
  top:10px;
  right: 200px;
 
}

.button-30:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 1s;
}

.button-30:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (max-width: 768px) {
  .button-30 {
    left: 5px;;
    right:auto
  }
}

.button-20 {
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  position:absolute;
  top:10px;
  right: 380px;
}

.button-20:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 1s;
}

.button-20:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-20 {
    padding: .75rem 1.5rem;
  }
}

.button-l {
  background-color: #f4aa16;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

 
 
}

.button-l:hover {
  background-color: #df9a0f;
  color: #000000;
  transition: 0.5s;
}

.button-l:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-l {
    padding: .75rem 1.5rem;
  }
}


.button-sig {
  background-color: #ae0a0a;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

 
 
}

.button-sig:hover {
  background-color: #941313;
  color: #000000;
  transition: 0.5s;
}

.button-sig:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-sig {
    padding: .75rem 1.5rem;
  }
}


.button-4 {
  background-color: #133e99;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-4:hover {
  background-color: #940920;
}

.button-4:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* SPINNER */

#bg-spinner{
  text-align: center;
  color: #FFFFFF;
  padding: 380px 0;
  top:0;
  left:0;
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

#position-spinner{
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}

#spinner{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 6px solid #d3d3d3;
  border-top: 6px solid #ffb82b;
  animation: loading 1s infinite linear  ;
}

@keyframes loading {
  to{
    transform:rotate(360deg);
  }
}

.popup{
  width: 600px;
  background: #ffb82b;
  position: absolute;
  display: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #fbac0e;
  margin: auto;
  border:solid 8px #2b2b2b; 
  border-radius: 20px;
  
}

.open-popup{
  visibility: visible;
}

.popupbg{
  background-color: rgba(0,0,0,0.5);
  top:0;
  left:0;
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  visibility: hidden;
}

.imgresult{
max-height: 500px; 
max-width: 500px;
display: block;
margin-left: auto;
margin-right: auto;
}

@media (max-width: 768px) {
  .imgresult {
    max-height: 350px; 
    max-width: 350px;
  }
}


.dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #ffb82b !important;
  padding: 4px;
  
  
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  padding-bottom: 10px;
  font-size: 18px;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after {
  position: absolute;
  display: block;
  opacity: 0.125;
  right: 10px;
  line-height: 9px;
  font-size: 0.8em;
  color: #ffc107;
}