{% extends 'base.html' %}

{% load static %}

{% block header %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 "></script>

{% endblock %}

{% block content %}
<div class='container' style="text-align:center">
<button id='btnhisto' class='button-histo' style="" disabled onclick="histoclick()">Historique <i class="bi bi-clock-history"></i></button>
<button id='btnerreurs' class='button-sig' style=""onclick="erreursclick()">Erreurs <i class="bi bi-bug-fill"></i> </button>
<button id='btnstats' class='button-sig' style=""onclick="statsclick()">Stats <i class="bi bi-bar-chart-line-fill"></i></button>
</div>

<div id="cont" style="margin-top:5px;padding-left: 20px;padding-right: 20px;background-color:#ffb82b;border:solid 5px #ffb82b;border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    
<table class="table table-dark table-striped " style="color:white;border-radius: 5px;overflow: hidden;" id="table-container" ></table>
    
</div>

<div class="popupbg" id='popupbg'>
  
    <div class="popup" id='popup' >
      
    </div>
    </div>
    <div id="statschartcontainer" class="flex-container" hidden >
        <div id="statscontainer" class="flex-child g1">
             <table class="table table-dark table-striped" style="color:white;" id="stats-table-container" ></table>
         </div>
        <div class="flex-child g2">
          <div style="padding-bottom:1%; ">
          
            <button id="btnmodel3"  class='button-nselec'style="margin-right:1%">Model3</button>
            <button id="btnmodel11" class='button-selec'disabled >Model11</button>
            <div style="display:inline;margin-left:10%;">
              <button id="btndesc" class='button-selec' disabled style="margin-right:1%">Desc</button>
              <button id="btnasc" class='button-nselec'>Asc</button>
            </div>
        </div>
            <canvas style="height: 500px;" id="myChart"></canvas>
          </div>
    </div>

<script type="text/javascript">

    let popupbg = document.getElementById("popupbg");
function openPopup(){
  //popupbg.classList.add("open-popup");
  document.getElementById("popupbg").style.visibility="visible"
}
function closePopup(){
  //popupbg.classList.remove("open-popup");
  document.getElementById("popupbg").style.visibility="hidden"
}

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');


    buildTable(filtre=0)

    function buildTable(filtre){
        var cont = document.getElementById(cont)
        if (filtre==0){
            var url='http://127.0.0.1:8000/classifr/api/histo/'
        }
        else{
            var url='http://127.0.0.1:8000/classifr/api/histo/?null=false'
        }
        
        var staticurl="{%static 'images/'%}"

        fetch(url)
        .then((resp)=>resp.json())
        .then(function(data){
            //console.log(data)
            
            let tableHtml = '<table><thead><tr><th>ID</th><th>Date</th><th>Image</th><th>Résultat</th><th>Précision</th><th>Classe correcte</th><th>Modèle utilisé</th><th>Actions</th></tr></thead><tbody>';
                data.forEach(item => {
                    const editBtnId = `edit-${item.id_histo}`;
                    const delBtnId = `del-${item.id_histo}`;
                    tableHtml += `<tr><td>${item.id_histo}</td><td>${item.date_pred}</td><td><img src=${staticurl}${item.nom_image} height="80" width="80"></td><td>${item.classe_predit} </td><td>${item.precision}%</td><td>${item.classe_correcte || '<i class="bi bi-check-lg text-success" style="font-size: 40px; font-weight: bold;"></i>'}</td><td>${item.nom_model}</td><td><button class="btn btn-warning " style="margin-right:5px" id="${editBtnId}">Editer <i class="bi bi-pencil-square"style="font-size: 20px; font-weight: bold;"></i><button class="btn btn-danger" style="font-size:20px;margin-left: 5px;color:black;font-weight:bold" id="${delBtnId}">X</td></tr>`;
                    
                  });
                tableHtml += '</tbody></table>';
                
                document.getElementById('table-container').innerHTML = tableHtml; 

                data.forEach(item => {
                    const editBtnId = `edit-${item.id_histo}`;
                    const delBtnId = `del-${item.id_histo}`;

                    document.getElementById(editBtnId).addEventListener('click', () => {
                        openPopup();
                        
                      //console.log(item);
                      if (item.nom_model=="model3"){
                        foodList=['tarte_pomme', 'omelette', 'pizza',"autre",null]
                        
                    } else{
                        foodList=['tarte_pomme', 'carpaccio_boeuf', 'bibimbap', 'cupcakes', 'foie_gras', 'frites', 
                        'pain_a_l\'ail', 'pizza',  'spaghetti_carbonara','rouleaux_printemps', 'gateau_framboise',"autre",null]
                    }
                    foodList = foodList.filter(e => e !== item.classe_correcte && e !== item.classe_predit)
                    
                    
                      const formhtml=`<button type="button" style="position:absolute;top:5px;right:5px; font-size:25px" class="btn-close" onclick="closePopup()" aria-label="Close"></button>
                      <h1 style='color:black;'>Modification</h1>
                    <form  method="post" id=formclass>
                        
                        <label for="classec" style="color:black;">Changer la classe correcte</label>
                        <select class="form-select" list="datalistOptions" style='font-size: 20px;;text-align:center;border: 3px solid grey;' id="classec" name="classec">
                        <option value="${item.classe_correcte}" selected>${item.classe_correcte}</option>
                        
                        </select>
                        <input class="btn btn-dark" style="font-size:24px;margin-top: 4%" type="submit" value="Valider" id='submit' >
                    </form>`
                    document.getElementById('popup').innerHTML=formhtml

                    const select = document.getElementById('classec')
                    foodList.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.text = option;
                        optionElement.value = option;
                        select.add(optionElement);
                      });

                    console.log(foodList)
                    editItem(item);
               
                    });
                    document.getElementById(delBtnId).addEventListener('click', () => {
                        deleteItem(item);
                    });
                  });

                $(document).ready( function () {
                    $('#table-container').DataTable({
                        order: [0,"desc"],
                        scrollY: "400px",
                        scrollCollapse: true,  
                        "bDestroy": true,       
                        "language": {
                            "lengthMenu": "Afficher _MENU_ lignes",
                            "emptyTable":     "Aucun erreur de classification enregistrée",
                            "info": "Affichage de _END_ lignes sur _TOTAL_",
                            "search": "Filtrer: ",
                            "paginate": {
                                "next":       "Suivant",
                                "previous":   "Précédent"
                            },
                        }
                        
                    });
                } );
        })
           
    }
    
   


    function editItem(item){
        console.log('btn clic',item)
        var form = document.getElementById('formclass')
        form.addEventListener('submit',function(e){
            e.preventDefault()
            console.log('Form envoyé',item.id_histo)
            var url=`http://127.0.0.1:8000/classifr/api/updatehisto/${item.id_histo}/`
            var selec = document.getElementById('classec').value
            if(selec=="null"){
                selec=null
            }
            fetch(url,{
                method:'POST',
                headers:{
                    'content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({
                    "id_histo": item.id_histo,
                    "date_pred": item.date_pred,
                    "precision": item.precision,
                    "nom_image": item.nom_image,
                    "classe_predit": item.classe_predit,
                    "classe_correcte": selec,
                    "nom_model": item.nom_model
                })
            }).then(function(Response){
                
                buildTable(filtre);
                
            })
            closePopup();
        })
        
    }

    function deleteItem(item){
        console.log('Delete clicked')
        openPopup();
        const confirmhtml=`<button type="button" style="position:absolute;top:5px;right:5px; font-size:25px" class="btn-close" onclick="closePopup()" aria-label="Close"></button>
        
        <h2 style='color:black;'>Voulez-vous vraiment supprimer cette ligne ?</h2>
        <button class="btn btn-danger" style="font-size:24px;margin-top: 4%"  id='confirm' >Confirmer`
        document.getElementById('popup').innerHTML=confirmhtml
        document.getElementById('confirm').addEventListener('click', () => {
            fetch(`http://127.0.0.1:8000/classifr/api/deletehisto/${item.id_histo}/`, {
                method:'DELETE', 
                headers:{
                    'Content-type':'application/json',
                    'X-CSRFToken':csrftoken,
                }
            }).then((response) => {
                buildTable(filtre)
            })
            closePopup();
        });

        
    }

btnhisto=document.getElementById("btnhisto")
btnerreurs=document.getElementById("btnerreurs")
btnstats=document.getElementById("btnstats")

    function histoclick(){
      console.log("histo");
      btnhisto.disabled=true;
      btnhisto.className="button-histo";
      btnerreurs.disabled=false;
      btnerreurs.className="button-sig";
      btnstats.disabled=false;
      btnstats.className="button-sig";
      document.getElementById('cont').hidden = false;
      document.getElementById('statschartcontainer').hidden = true;
      buildTable(filtre=0);
      try{
        document.getElementById("myChart").remove()
      }catch(e){}
      
    }

    function erreursclick(){
      filtre=1
      console.log("erreurs")
      btnerreurs.disabled=true
      btnerreurs.className="button-histo"
      btnhisto.disabled=false
      btnhisto.className="button-sig"
      btnstats.disabled=false
      btnstats.className="button-sig"
      document.getElementById('cont').hidden = false;
      document.getElementById('statschartcontainer').hidden = true;
      buildTable(filtre);
      try{
        document.getElementById("myChart").remove()
      }catch(e){}
    }

    function statsclick(){
      console.log("stats")
      btnstats.disabled=true
      btnstats.className="button-histo"
      btnerreurs.disabled=false
      btnerreurs.className="button-sig"
      btnhisto.disabled=false
      btnhisto.className="button-sig"
      document.getElementById('cont').hidden = true;
      document.getElementById('statschartcontainer').hidden = false;
      url="http://127.0.0.1:8000/classifr/api/stats/"
      fetch(url)
      .then((resp)=>resp.json())
      .then(function(data){
          createTable=`
          <table>
          <tr style="font-size:18px">
              <th style="color:#ffb82b; font-size:18px">Nom du Model</th>
              <th  scope="col">${data[0].nomModel}</th>
              <th scope="col">${data[1].nomModel}</th>
          
          </tr>
          <tr style="font-size:18px">
              <th style="color:#ffb82b" scope="row">Total</th>
              <td>${data[0].total}</td>
              <td>${data[1].total}</td>
          </tr>
          <tr style="font-size:18px">
              <th style="color:#ffb82b" scope="row">Bonne classification</th>
              <td>${data[0].success}</td>
              <td>${data[1].success}</td>
          </tr>
          <tr style="font-size:18px">
              <th style="color:#ffb82b" scope="row">Erreurs</th>
              <td>${data[0].errors}</td>
              <td>${data[1].errors}</td>
          </tr>
          <tr style="font-size:18px">
              <th style="color:#ffb82b" scope="row">Précision</th>
              <td>${data[0].pourcentage} %</td>
              <td>${data[1].pourcentage} %</td>
          </tr>
          </table>
          `
          document.getElementById('stats-table-container').innerHTML=createTable  
      })
      
      var model="model11"
      var ordre="desc"
      let hoverList;
      
      model3=document.getElementById("btnmodel3")
      model11=document.getElementById("btnmodel11")
      btndesc=document.getElementById("btndesc")
      btnasc=document.getElementById("btnasc")

      model11.disabled=true
      model3.disabled=false
      model11.className="button-selec"
      model3.className="button-nselec"
      btndesc.disabled=true
      btnasc.disabled=false
      btndesc.className="button-selec"
      btnasc.className="button-nselec"

      
      fetchData(model,ordre)
    

      
      model3.addEventListener('click', () => {
        model="model3"
        model11.disabled=false
        model3.disabled=true
        model11.className="button-nselec"
        model3.className="button-selec"
        fetchData(model,ordre)
     
      });
      model11.addEventListener('click', () => {
        model="model11"
        model11.disabled=true
        model3.disabled=false
        model11.className="button-selec"
        model3.className="button-nselec"
        fetchData(model,ordre)
        
      });
      btndesc.addEventListener('click', () => {
        ordre="desc"
        btndesc.disabled=true
        btnasc.disabled=false
        btndesc.className="button-selec"
        btnasc.className="button-nselec"
        fetchData(model,ordre)
      });
      btnasc.addEventListener('click', () => {
        ordre="asc"
        btndesc.disabled=false
        btnasc.disabled=true
        btndesc.className="button-nselec"
        btnasc.className="button-selec"
        fetchData(model,ordre)
      });
    
      
}

let isFetching = false;

function fetchData(model,ordre) {
  if (isFetching) {
    return;
  }

  isFetching = true;

  fetch(`http://127.0.0.1:8000/classifr/api/statsgraph/?model=${model}&ordre=${ordre}`)
    .then((resp) => resp.json())
    .then(function (statsData) {
      //console.log(statsData);
    
      fetch(`http://127.0.0.1:8000/classifr/api/statsgraph/hover/?model=${model}`)
          .then((resp) => resp.json())
          .then(function (hoverData) {
            buildChart(statsData, model, hoverData);
      isFetching = false;
    })
    .catch(function (error) {
      console.error(error);
      isFetching = false; 
    })
  })
}

function displayHoverData(label,hoverData){
  //console.log(hoverData[0][0])
  //console.log(hoverData)
  let found = false;
  for (let i = 0; i < nestedList.length; i++) {
  innerList = hoverData.find(list => list[0] === label);
  if (innerList) {
    console.log("Item:", label);
    console.log("Value 1:", innerList[1]);
    console.log("Value 2:", innerList[2]);
    console.log("Value 3:", innerList[3]);
  }
 
  
}
}


function buildChart(statsData,model,hoverData){
  
  
  try{
    document.getElementById("myChart").remove()
  }catch(e){}
  const canvas = document.createElement('canvas');
  canvas.style.height = '320px';
  canvas.id = 'myChart';
  document.querySelector('#statschartcontainer .flex-child.g2').appendChild(canvas)

  Chart.register(ChartDataLabels);

  const data = {
    labels: [''],
    datasets: []
  };
  
  statsData.forEach(item => {
    const label = item[0];
    const value = item[1];
    const dataset = {
      label: [label],
      data: [value],
      borderWidth: 1,
      barPercentage: 0.9,
      categoryPercentage: 0.95
    };
    data.datasets.push(dataset);
  });
    // config 

const config = {
  type: 'bar',
  data,
  options: {
    layout: {
      padding: {  
          bottom: 70,
      },
  },
    plugins:{
      tooltip:{
        bodyFont:{
          size:19,
          weight:'bold',
        },
        yAlign:'bottom',
        callbacks:{
          label:(context)=>{
           // console.log(context.dataset)
            return `${context.dataset.label} ${context.dataset.data}%`
          }
        },
      },
      datalabels: {
        labels: {
          name: {
            clamp:false,
            display:'true',
            anchor:'start',
            rotation: '60',
            align: '60',
            color:'black',
            
            font: {size: 15, weight:'bold'},
            formatter: function(value, ctx) {
              return ctx.active
                ? ctx.dataset.label
                : ctx.dataset.label;
                
            }
          },
          value: {
            clamp:true,
            display:'true',
            anchor:'end',
            color:'black',
            align: 'bottom',
            textAlign:'center',
            font: {size: 16, weight:'bold'},
            formatter: function(value, ctx) {
              return ctx.active
                ? ''
                : value+"%";
            },
            padding: 0
          },
          hoverdata: {
            clamp:true,
            display:'true',
            anchor:'center',
            color:'black',
            align: 'center',
            textAlign:'center',
            font: {size: 16, weight:'bold',lineHeight:2},
            formatter: function(value, ctx) {
              return ctx.active
                ?  displayHoverData(ctx.dataset.label,hoverData)
                : '';
            },
            padding: 0
          },
        }
      },
      legend:{
        display:true,
        position:'top',
        labels:{
          padding:5,
          font: {
            size: 17 },
            boxWidth: 15,
            color:'black',
            weight:'bold',  
          }
        },
      },
      scales: {
        x:{
          ticks:{
            display:true,
          }
        },
        y: {
          ticks: {
            color:'black',
            font: {
              size:15,
              weight:'bold',
            },
          },
          beginAtZero: true,
          title:{
            display:true,
            text:'Précision en %',
            color:"black",
            font: {
              
              size: 20,
              weight: 'bold',
            },
          },
        },
      },
    }
  };



// render init block
const ctx=document.getElementById('myChart');
const myChart = new Chart(
  ctx,
  config
);
function clickHandler(click){
  const points = myChart.getElementsAtEventForMode(click, 'nearest' , {intersect:true}, true);
  if (points.length) {
    const firstPoint = points[0];
    value= myChart.data.datasets[firstPoint.datasetIndex].label[0]
    console.log(value)
    
  }
}
ctx.onclick = clickHandler;
//console.log(myChart)



}

</script>

{% endblock %}