{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<a class="button-20" role="button" href="{% url 'historique' %}" role="button"> Monitoring </a>
{% endif %} 

<div class="container" style="padding:30px" >
    
<h1 style = "text-align : center";>Résultat de la classification: </h1>
<h2 style = "text-align : center;color: white;margin:10px;margin-top:20px">L'image appartient à la classe <p style="color:#ffb82b;display: inline"> {{label}}</p> à <p style="color:#ffb82b;display: inline">{{precision}}%</p></h2>
{%with path as image %}
<img class="imgresult" src="{% static image %}"  >
{% endwith %}

<div class="row m-2" >
    <a href="{% url 'btreturn' %}" class="col-sm mx-5 button-l " role="button" style="margin:20px;font-size:25px"  >Faire une nouvelle classification</a>
    <button class="col-sm mx-5 button-l " type="button" role="button" onclick="openPopup()" style="margin:20px;font-size:25px" >Signaler une erreur
      <img src="{%static 'images/flag.png'%}"style="max-height: 30px; max-width: 30px;">
    </button>
  </div>


  <div class="popupbg" id='popupbg'>
  
<div class="popup" id='popup' >
  <button type="button" style="position:absolute;top:5px;right:5px; font-size:25px" class="btn-close" onclick="closePopup()" aria-label="Close"></button>
<h1 style='color:black;'>Signaler une erreur</h1>
  <form action="" method="post">
    {% csrf_token %}
    <label for="classec"></label>
    <select class="form-select" style='font-size: 20px;;text-align:center;border: 3px solid grey;' id="classec" name="classec">
      <option value="0" disabled selected>Selectionner la classe correcte</option>
      {% for food in food_list%}
    <option>{{food}}</option>
    {%endfor%} 
    </select>
    <input class="btn btn-dark" style="font-size:24px;margin-top: 4%" type="submit" value="Valider" id='submit' disabled>
</form>
</div>
</div>

</div>

<script>
let popup = document.getElementById("popup");
let popupbg = document.getElementById("popupbg");
function openPopup(){
  //popupbg.classList.add("open-popup");
  document.getElementById("popupbg").style.visibility="visible"
}
function closePopup(){
  //popupbg.classList.remove("open-popup");
  document.getElementById("popupbg").style.visibility="hidden"
}



const select = document.getElementById('classec');
const submitButton = document.getElementById('submit');
document.getElementById('classec').addEventListener('change', () => {
  if (select.value === '0') {
    submitButton.disabled = true;
  } else {
    submitButton.disabled = false;
  }
});
</script>

{% endblock %}